services:
  - type: web
    name: my-bot-service
    env: python
    buildCommand: |
      # Bước 1: Clone repository "negen"
      git clone https://github.com/anonsdz/negen

      # Bước 2: Di chuyển vào thư mục "negen"
      cd negen

      # Bước 3: Cài đặt các module Node.js
      npm install colors set-cookie-parser
      npm install colors http2 tls cluster url set-cookie-parser crypto dns fs axios cheerio gradient-string@2

      # Bước 4: Cài đặt các thư viện Python từ requirements.txt
      pip install python-telegram-bot requests pytz termcolor --break-system-packages
      pip install colorama termcolor
      pip install python-telegram-bot requests asyncio pytz --break-system-packages

    startCommand: |
      # Bước 5: Chạy botv3.py (bỏ gunicorn, chạy trực tiếp script Python)
      cd negen && python botv3.py
    branches: 
      - main  # Chỉ triển khai trên nhánh chính
