python-telegram-bot[job-queue]
database_connection
aiohttp
aiofiles
argparse
asyncio
beautifulsoup4
brotli
colorama
dnsdumpster
fake_useragent
google-generativeai
gspread
gtts
httpx
langdetect
mpmath
mysql-connector-python
oauth2client
Pillow
psutil
pyfiglet
python-dotenv
python-telegram-bot
pytz
requests
telebot
threaded
watchdog
whois
yt-dlp
gputil
gunicorn
